main{
    position: relative;
    background: rgba(21, 22, 75, 0.9);
    box-shadow: 0vh 0vh 1vh 0.6vh rgba(0, 0, 0, 0.1);
    border: 0.1vh solid white;
    height: 18vh;
    width: 20vw;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main div{
    position: absolute;
    right: -1vh;
    top: -2.6vh;
    height: 6.2vh;
    width: 10vw;
    border-radius: 1vh;
    border: 0.1vh solid rgba(255, 255, 255, 0.8);
    background: white;
    box-shadow: 0vh 0vh 1vh 0.6vh rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

h4{margin-left: 1vh; font-size: 2.2vh;}

p{margin-top: 4vh; font-size: 3vh; color: white;}

button{
    border: none;
    border-radius: 2vh;
    background: grey;
    color: rgba(255, 255, 255, 0.70);
    margin-top: 2vh;
    height: 5vh;
    width: 40%;
    font-size: 2.4vh;
    cursor: no-drop;
    user-select: none;
}